:root {
	--color-primary: #001a8c;
	--color-black: #000;
	--color-white: #fff;
	--color-gray: #ccc;
	--color-light-gray: #f3f3f3;
	--f-heading: "ff-real-headline-pro",sans-serif;
	--f-body: "lato",sans-serif;
}
