:root {
	--color-primary: #001a8c;
	--color-black: #000;
	--color-white: #fff;
	--color-gray: #aaa;
	--color-light-gray: #f3f3f3;
	--color-light-yellow: rgba(255,219,77,0.35);
	--color-yellow: rgba(255,219,77,0.75);
	--f-heading: "ff-real-headline-pro",sans-serif;
	--f-body: "lato",sans-serif;
}
