.Button {
	$borderRadius: 5px;

	font-size: 1em;
	padding: 5px 20px;
	transition: transform .1s ease-out, color .15s linear, -webkit-transform .1s ease-out;
	transform: scale(1);
	background: var(--color-white);
	outline: none;
	min-width: 120px;
	border: 1px solid var(--color-gray);
	border-radius: $borderRadius;
	font-family: var(--f-body);

	&_pin-left {
		border-radius: $borderRadius 0 0 $borderRadius;
	}
	&_pin-right {
		border-radius: 0 $borderRadius $borderRadius 0;
	}

	&:not([disabled]) {
		cursor: pointer;

		&:hover {
			background-color: #fcfcfc;
		}

		&:active {
			transform: scale(0.95);
		}
	}
}
