.TextInput {
	font-size: 1em;
	padding: 5px 15px;
	transition: 0.05s ease-in-out;
	background: var(--color-white);
	outline: none;
	min-width: 120px;
	border: 1px solid var(--color-gray);
	border-radius: 5px;
}
